@import url('https://fonts.googleapis.com/css?family=Alexandria');
body {
    padding: 0;
    margin: 0;
    font-family: "Alexandria";
    background-color: ivory;
}

@media (max-width: 600px) {
    .nav-main-ctn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 14px;
        background-color: white;
    }
    .nav-left {
        list-style-type: none;
    }
    .nav-right {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        list-style-type: none;
    }
    .nav-ctn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-link {
        text-decoration: none;
        color: black;
        padding: 7px 4px;
        border: 1px white solid;
        border-radius: 20px;
        width: 130px;
        text-align: center;
        background-color: rgb(225, 225, 225);
    }
    .nav-link:hover {
        border: 1px black solid;
        border-radius: 20px;
    }
    .nav-logo {
        height: 65px;
    }

    .home-main-ctn {
        height: 100%;
        padding: 20px;
        background-color: ivory;
    }
    .home-main-ctn h2 {
        margin-top: 0;
        text-align: center;
    }
    .home-iframe-ctn {
        display: flex;
        justify-content: center;
    }
    .home-link-ctn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }
    .home-link {
        text-decoration: none;
        color: rgb(57, 57, 57);
        font-weight: bold;
        padding: 15px 30px;
        width: 210px;
        border: 2px solid black;
        border-radius: 16px;
        background-color: gold;
        animation-duration: 1s;
    }
    .home-link:hover {
        bottom: 10px;
        border-radius: 16px;
        color: black;
        background-color: rgb(255, 232, 100);
        box-shadow: 4px 4px;
    }

    #process {
        padding: 20px;
        height: 100%;
        background-color: ivory;
    }
    #process h2 {
        margin-top: 0;
        text-align: center;
    }
    .process-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #reviews {
        padding: 20px;
        background-color: ivory;
        height: 100%;
    }
    #reviews h2 {
        margin-top: 0;
    }

    #about {
        padding: 20px;
        background-color: ivory;
        height: 100%;
    }
    #about h2 {
        margin-top: 0;
    }
    .about-me-img-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }
    .about-me-img-ctn img {
        width: 220px;
        height: 100%;
        box-shadow: 4px 4px;
    }
    .about-img-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }
    .about-img-sub-ctn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-img {
        width: 150px;
        border-radius: 50%;
        box-shadow: 4px 4px;
    }

    .contact-main-ctn {
        background-color: ivory;
        height: 100%;
        text-align: center;
        padding: 20px;
    }
    .contact-main-ctn h2 {
        margin-top: 0;
    }
    .contact-method-ctn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-method-ctn ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
        gap: 50px;
        width: 75vw;
    }
    .whatsapp {
        width: 40px;
    }
    .google-form {
        height: 60vh;
        width: 75vw;
        border: 0;
    }

}

@media (min-width: 601px) {
    .nav-main-ctn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 14px;
        background-color: white;
    }
    .nav-left {
        list-style-type: none;
        padding: 5px;
    }
    .nav-right {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        list-style-type: none;
    }
    .nav-ctn {
        display: flex;
        gap: 20px;
    }
    .nav-link {
        text-decoration: none;
        color: black;
        padding: 7px 4px;
        border: 1px white solid;
        border-radius: 20px;
        width: 130px;
        text-align: center;
        background-color: rgb(225, 225, 225);
    }
    .nav-link:hover {
        border: 1px black solid;
        border-radius: 20px;
    }
    .nav-logo {
        height: 65px;
    }

    .home-main-ctn {
        height: 100%;
        padding: 20px;
        background-color: ivory;
    }
    .home-main-ctn h2 {
        margin-top: 0;
        text-align: center;
    }
    .home-iframe-ctn {
        display: flex;
        justify-content: center;
    }
    .home-link-ctn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }
    .home-link {
        text-decoration: none;
        color: rgb(57, 57, 57);
        font-weight: bold;
        padding: 15px 30px;
        width: 210px;
        border: 2px solid black;
        border-radius: 16px;
        background-color: gold;
        animation-duration: 1s;
    }
    .home-link:hover {
        bottom: 10px;
        border-radius: 16px;
        color: black;
        background-color: rgb(255, 232, 100);
        box-shadow: 4px 4px;
    }

    #process {
        padding: 20px;
        height: 100%;
        background-color: ivory;
    }
    #process h2 {
        margin-top: 0;
        text-align: center;
    }
    .process-list {
        padding: 0 25vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #reviews {
        padding: 20px;
        background-color: ivory;
        height: 100%;
    }
    #reviews h2 {
        margin-top: 0;
    }
    .review-center-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .review-carousel-ctn {
        width: 600px;
    }
    .review-carousel-image {
        width: 100%;
    }

    #about {
        padding: 20px;
        background-color: ivory;
        height: 100%;
    }
    #about h2 {
        margin-top: 0;
    }
    .about-me-img-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }
    .about-me-img-ctn img {
        width: 220px;
        height: 100%;
        box-shadow: 4px 4px;
    }
    .about-img-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }
    .about-img-sub-ctn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-img {
        width: 150px;
        border-radius: 50%;
        box-shadow: 4px 4px;
    }

    .contact-main-ctn {
        background-color: ivory;
        height: 100%;
        text-align: center;
        padding: 20px;
    }
    .contact-main-ctn h2 {
        margin-top: 0;
    }
    .contact-method-ctn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-method-ctn ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
        gap: 50px;
        width: 75vw;
    }
    .whatsapp {
        width: 40px;
    }
    .google-form {
        height: 60vh;
        width: 600px;
        border: 0;
    }

}
