@import url('https://fonts.googleapis.com/css?family=Alexandria');
body {
    padding: 0;
    margin: 0;
    font-family: "Alexandria";
}

@media (max-width: 600px) {
    .nav-main-ctn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        height: 100px;

    }
    .nav-main-ctn ul {
        display: flex;
        list-style-type: none;
        gap: 20px;
    }
    .nav-link {
        text-decoration: none;
        color: black;
        padding: 7px 4px;
    }
    .nav-link:hover {
        border: 1px black solid;
        border-radius: 20px;
    }
    .nav-logo {
        width: 75px;
    }

    .home-main-ctn {
        background-image: url("../public/images/img0.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 100vh;
        color: white;
        background-color: ivory;
    }
    .home-main-ctn h1 {
        text-align: center;
    }

    .contact-main-ctn {
        background-color: ivory;
        height: 100vh;
        text-align: center;
    }
    .contact-method-ctn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-method-ctn ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 50px;
        width: 75vw;
    }
    .whatsapp {
        width: 40px;
    }
    .google-form {
        height: 60vh;
        width: 75vw;
    }
}
